## Data Attribution

This project uses map data from [OpenStreetMap](https://www.openstreetmap.org/), which is made available under the [Open Database License (ODbL)](https://opendatacommons.org/licenses/odbl/1-0/).

© OpenStreetMap contributors.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import osmnx as ox

In [2]:
place = "Scotland, UK", 
sc_df = ox.features.features_from_address(
    place, {'building': True}, dist=100000)

valid_buildings = [
    'residential', 'train_station', 'commercial', 'hotel',
    'college', 'supermarket', 'public', 'religious', 'hospital'
]
sc_df = sc_df[sc_df['building'].isin(valid_buildings)]
sc_df = sc_df[sc_df['addr:street'].isna()==False]
sc_df[['building','addr:street', 'addr:postcode', 'addr:housenumber', 'addr:city']]

/Users/polabedzka/Desktop/masters/camridge/THESIS/synthetic_data_generation/venv/lib/python3.9/site-packages/osmnx/_overpass.py:267: UserWarning: This area is 16 times your configured Overpass max query area size. It will automatically be divided up into multiple sub-queries accordingly. This may take a long time.
  multi_poly_proj = utils_geo._consolidate_subdivide_geometry(poly_proj)

                        building            addr:street addr:postcode  \
element  id
node     2008733708  residential             Links Road      EH39 4LU
         4092464396  residential  President Grant Place           NaN
         4286539703  residential            Forbes Road      IV36 1HP
         4335598506  residential              Moray Way      EH21 7QY
relation 936102         hospital             Lodge Rise       KY7 5TG
...                          ...                    ...           ...
way      1408665815  residential        Woodhead Street           NaN
         1408665818  residential        Woodhead Street           NaN
         1408665821  residential        Woodhead Street           NaN
         1408665823  residential        Woodhead Street           NaN
         1408665833  residential        Woodhead Street           NaN

                    addr:housenumber   addr:city
element  id
node     2008733708               14         NaN
         4092464396              NaN         NaN
         4286539703               16      Forres
         4335598506               13         NaN
relation 936102                  NaN  Glenrothes
...                              ...         ...
way      1408665815               28         NaN
         1408665818               38         NaN
         1408665821               13         NaN
         1408665823               19         NaN
         1408665833               61         NaN

[9959 rows x 5 columns]

In [4]:
sc_df[['building','addr:street', 'addr:postcode', 'addr:housenumber', 'addr:city']]

                        building            addr:street addr:postcode  \
element  id
node     2008733708  residential             Links Road      EH39 4LU
         4092464396  residential  President Grant Place           NaN
         4286539703  residential            Forbes Road      IV36 1HP
         4335598506  residential              Moray Way      EH21 7QY
relation 936102         hospital             Lodge Rise       KY7 5TG
...                          ...                    ...           ...
way      1408665815  residential        Woodhead Street           NaN
         1408665818  residential        Woodhead Street           NaN
         1408665821  residential        Woodhead Street           NaN
         1408665823  residential        Woodhead Street           NaN
         1408665833  residential        Woodhead Street           NaN

                    addr:housenumber   addr:city
element  id
node     2008733708               14         NaN
         4092464396              NaN         NaN
         4286539703               16      Forres
         4335598506               13         NaN
relation 936102                  NaN  Glenrothes
...                              ...         ...
way      1408665815               28         NaN
         1408665818               38         NaN
         1408665821               13         NaN
         1408665823               19         NaN
         1408665833               61         NaN

[9959 rows x 5 columns]

In [5]:
new = sc_df[sc_df['addr:postcode'].isna()==False]

In [ ]:
stacked_df = sc_df[['building','addr:street', 'addr:postcode', 'addr:housenumber', 'addr:city']]
stacked_df = stacked_df.drop_duplicates(subset="addr:street")
stacked_df = stacked_df[stacked_df['addr:postcode'].isna()==False]
stacked_df.to_csv("api/adresses.csv")