In [72]:
import pandas as pd
import re

In [73]:
def parse_questions(text):
    """
    Extract explanations that come after "Yes -" or "No -" in numbered questions.
    Returns a dictionary with question numbers as keys and explanations as values.
    """
    # Pattern to match: number. question - Yes/No - explanation
    pattern = r'(\d+)\.\s+[^-]+-\s+(?:Yes|No)\s+-\s+([^0-9]+?)(?=\s*\d+\.|$)'
    
    matches = re.findall(pattern, text, re.DOTALL)
    
    result = {}
    for match in matches:
        number, explanation = match
        # Clean up the explanation
        explanation = explanation.strip()
        result[f"q_{number}"] = explanation
    
    return result
parse_questions("Vulnerability 1. Is there any identified risk of suicide? - Yes - MP is known to frequent train stations in an attempt to commit suicide and also to drink antifreeze. 2. Is criminality suspected to be a factor in the disappearance? - No 3. Is the Missing Person vulnerable due to age, infirmity or other similar factor? - Yes - MP is subject to a Compulsory Treatment Order and has poor mental health. 4. Are there any known adverse effects if prescribed medication is not available to the Missing Person? - No 5. Does the Missing Person have dementia, medical or mental health conditions, physical illnesses or disabilities? - Yes - MP has poor mental health and has thoughts of suicide. 6. Does the Missing Person have problems interacting safely with others when finding themselves in unfamiliar circumstances? - No 7. Is there a dependency on drugs, alcohol, medication or other substances? - No 8. Is the Missing Person on the Child Protection Register? - No 9. Do the current/previous weather conditions present additional risk? Consider all circumstances including age and clothing. - No Influences 10. Are there family/relationship problems or recent history of family conflict and/or abuse? - No 11. Is the Missing Person a victim or perpetrator of domestic violence? - No 12. Is there an ongoing personal issue linked to racial, sexual, homophobic, the local community or any cultural issues? - No 13. Was the Missing Person involved in a violent and/or hate crime incident prior to disappearance - No 14. Are there any school, college, university, employment or financial problems? - No 15. Is forced marriage or honour based abuse an issue? - No 16. Is the Missing Person the victim of sexual exploitation, human trafficking or prostitution? If so, is going missing likely to place the Missing Person at risk of considerable harm. - No Behaviour 17. Are the circumstances of going missing different from normal behaviour patterns? - No 18. Is there any known reason for the Missing Person to go missing? - Yes - MP frequnetly absconds from Ward X. 19. Are there any indications that preparations have been made for absence? - No 20. What was the Missing Person intending to do when last seen? Did they fail to complete their intentions? -  - Mps intentions are unknown however she failed to return at her allocated time. 21. Has the Missing Person disappeared previously and were they exposed to harm on such occassions? - Yes - MP last absocnded and was declared missing on 08/04/2022. 22. Is the missing person a risk to others? And if so in what way? - No 23. Are their other unlisted factors which the officer or supervisor considers relevant in the assessment of risk? - No Mental 24. Does the Missing Person have a mental health condition (excluding dementia)?   - No 25. Does this Missing Person have dementia or a specific progressive neurological disorder?  - No In consideration of the above factors, their likelihood and their seriousness, what level of risk do you consider to be appropriate? Any lower risk grading would be adequate but may not be appropriate. Medium Any other comments you may have: MP frequently absconds from hospital and this is considered normal behaviour for her. Risk Assessment Log 06/05/2022 1 - Expresssed sucidial ideation and consumed anti-freeze whilst missing. Enquiries and investigation led as HR MP  - Brian Brooks (1456789) - 07:18:18 05/05/2022 2 - MP frequently absconds from hospital and this is considered normal behaviour for her.  - Noah Wright (1987654) - 13:45:50	")

{'q_1': 'MP is known to frequent train stations in an attempt to commit suicide and also to drink antifreeze.',
 'q_3': 'MP is subject to a Compulsory Treatment Order and has poor mental health.',
 'q_5': 'MP has poor mental health and has thoughts of suicide.',
 'q_18': 'MP frequnetly absconds from Ward X.'}

In [74]:
mp_new_exp  = pd.read_csv("/Users/polabedzka/Downloads/RE_ Next steps/mp_vln_new_high_cleansed.csv")
mp_new =  pd.read_csv("/Users/polabedzka/Downloads/RE_ Next steps/mp_new_high_cleansed.csv")

In [75]:

cols = mp_new.columns.tolist()

new_names = [f'q_{i}' for i in range(1, 26)]

cols[-25:] = new_names

mp_new.columns = cols
mp_new

,reportid,sno,label,misperid,Initial_Risk_Level,Current_Final_Risk_Level,nominalpersionid,forenames,surname,sex,...,q_16,q_17,q_18,q_19,q_20,q_21,q_22,q_23,q_24,q_25
0,45816,NaN,Wanted/Absconder,10081,High,High,39686,Daisy,Paterson,F,...,0,0,0,1,1,1,0,0,1,0
1,44704,NaN,Child,10081,High,High,39686,Daisy,Paterson,F,...,0,0,0,1,0,1,0,0,1,0
2,39507,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,0,0,0,0,1,0,0,1,0
3,38629,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,0,0,0,0,1,0,0,1,0
4,37227,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,0,0,0,0,1,0,0,0,0
5,37124,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,0,0,0,0,1,0,0,0,0
6,36424,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,0,0,0,1,1,0,0,1,0
7,36269,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,0,0,0,0,1,0,0,0,0
8,35862,S78945/23T,Child,10081,High,Medium,39686,Daisy,Paterson,F,...,0,1,0,0,1,1,0,0,1,0
9,34899,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,0,0,0,1,1,0,1,1,0
10,31772,NaN,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,0,0,0,0,0,0,0,0,0
11,29277,NaN,Child,10081,Low,Medium,39686,Daisy,Paterson,F,...,0,1,1,0,0,1,0,0,0,0
12,26219,NaN,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,0,0,0,0,1,0,0,0,0
13,26030,NaN,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,0,0,0,0,1,0,0,1,0
14,22741,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,0,1,0,0,0,1,0,0,1,0
15,21487,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,0,0,0,0,0,1,0,0,1,0
16,17637,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,0,1,0,0,1,0,0,0,1,0
17,50913,NaN,Adult,20039,Medium,High,78847,Sophia,Morrison,F,...,0,0,1,0,0,1,0,0,0,0
18,44578,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,0,0,0,0,1,1,0,0,1,0
19,41129,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,0,1,0,0,1,1,0,0,1,0
20,40847,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,0,0,0,0,1,1,0,0,1,0
21,40315,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,0,0,1,0,1,1,0,0,1,0
22,38504,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,0,1,0,0,1,1,0,0,1,0
23,37688,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,0,0,1,0,0,1,0,0,1,0
24,89782,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,Ramsey,M,...,0,0,0,0,0,1,0,0,1,0
25,78187,S65432/10R,Adult,38455,High,High,149833,Fraser,Ramsey,M,...,0,0,0,0,0,0,0,0,1,0
26,77997,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,Ramsey,M,...,0,0,1,0,1,0,0,0,1,0

In [76]:
mp_new.columns

Index(['reportid', 'sno', 'label', 'misperid', 'Initial_Risk_Level',
       'Current_Final_Risk_Level', 'nominalpersionid', 'forenames', 'surname',
       'sex', 'dob', 'age', 'pob', 'occdesc', 'Storm_Ref', 'Missing_Since',
       'Date_Reported_Missing', 'Day_Reported_Missing', 'Missing_From',
       'Reported_Missing_By', 'Residence_Type', 'MF_address', 'HA_address',
       'Div_Owner', 'SubDiv_Owner', 'code', 'Local_Authority', 'whentraced',
       'TL_address', 'Still_Missing', 'Length_Missing_Mins',
       'Still_Missing_Hours', 'Return_Method_Desc', 'circumstances', 'q_1',
       'q_2', 'q_3', 'q_4', 'q_5', 'q_6', 'q_7', 'q_8', 'q_9', 'q_10', 'q_11',
       'q_12', 'q_13', 'q_14', 'q_15', 'q_16', 'q_17', 'q_18', 'q_19', 'q_20',
       'q_21', 'q_22', 'q_23', 'q_24', 'q_25'],
      dtype='object')

In [77]:
q_columns = [col for col in mp_new.columns if col.startswith('q_')]

for col in reversed(q_columns): 
    col_index = mp_new.columns.get_loc(col)
    explanation_col = f'{col}_explanation'
    
    mp_new.insert(col_index + 1, explanation_col, 'NULL')

In [78]:
mp_new[['reportid']] = mp_new[['reportid']].astype(int)

In [79]:
mp_new

,reportid,sno,label,misperid,Initial_Risk_Level,Current_Final_Risk_Level,nominalpersionid,forenames,surname,sex,...,q_21,q_21_explanation,q_22,q_22_explanation,q_23,q_23_explanation,q_24,q_24_explanation,q_25,q_25_explanation
0,45816,NaN,Wanted/Absconder,10081,High,High,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
1,44704,NaN,Child,10081,High,High,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
2,39507,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
3,38629,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
4,37227,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
5,37124,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
6,36424,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
7,36269,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
8,35862,S78945/23T,Child,10081,High,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
9,34899,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,1,NULL,1,NULL,0,NULL
10,31772,NaN,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,NULL,0,NULL,0,NULL,0,NULL,0,NULL
11,29277,NaN,Child,10081,Low,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
12,26219,NaN,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
13,26030,NaN,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
14,22741,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
15,21487,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
16,17637,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL
17,50913,NaN,Adult,20039,Medium,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
18,44578,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
19,41129,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
20,40847,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
21,40315,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
22,38504,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
23,37688,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
24,89782,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,Ramsey,M,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
25,78187,S65432/10R,Adult,38455,High,High,149833,Fraser,Ramsey,M,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL
26,77997,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,Ramsey,M,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL

In [80]:
q_columns = [col for col in mp_new.columns if col.startswith('q_')]

for index, row in mp_new_exp.iterrows():
    parsed = parse_questions(row['VULNERABLETEXT'])
    print(parsed)
    reportid = row['REPORTID']
    print(reportid)
    for i in range(1,26):
        if f'q_{i}' in parsed.keys():
            mp_new.loc[mp_new['reportid'] == reportid, f'q_{i}_explanation'] = 'eiger'
            # mp_new.loc[int(reportid), ] = parsed[f'q_{i}']
        else:
            mp_new.loc[mp_new['reportid'] == reportid, f'q_{i}_explanation'] = 'NULL'

{'q_1': 'MP is known to frequent train stations in an attempt to commit suicide and also to drink antifreeze.', 'q_3': 'MP is subject to a Compulsory Treatment Order and has poor mental health.', 'q_5': 'MP has poor mental health and has thoughts of suicide.', 'q_18': 'MP frequnetly absconds from Ward X.'}
50913
{'q_1': 'MP regularly makes threats of suicide. Has left a note in her room saying she cant live this life anymore.', 'q_5': 'Has been diagnosed with Emotional Instability Disorder.', 'q_10': 'Family issues due to her mum struggling to accept the MP sexuality.', 'q_19': 'Has left a note in her room saying she cant live this life anymore.', 'q_20': 'MP went out for cigarrette and thereafter absconded.', 'q_21': 'MP has went missing previously threatening to harm herself.', 'q_24': 'Has been diagnosed with Emotional Instability Disorder.'}
45816
{'q_3': 'Vulnerable due to his deterioration in mental health.', 'q_11': 'MP is known for domestic incidents according to NHS staff.', 'q_20': 'Unknown intentions from MP - concern for his worsening mental state', 'q_21': 'MP has disappeared in the past, November', 'q_24': 'Drug induced psychosis'}
89782

In [81]:
mp_new

,reportid,sno,label,misperid,Initial_Risk_Level,Current_Final_Risk_Level,nominalpersionid,forenames,surname,sex,...,q_21,q_21_explanation,q_22,q_22_explanation,q_23,q_23_explanation,q_24,q_24_explanation,q_25,q_25_explanation
0,45816,NaN,Wanted/Absconder,10081,High,High,39686,Daisy,Paterson,F,...,1,eiger,0,NULL,0,NULL,1,eiger,0,NULL
1,44704,NaN,Child,10081,High,High,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
2,39507,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
3,38629,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
4,37227,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
5,37124,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
6,36424,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
7,36269,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
8,35862,S78945/23T,Child,10081,High,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
9,34899,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,1,NULL,1,NULL,0,NULL
10,31772,NaN,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,NULL,0,NULL,0,NULL,0,NULL,0,NULL
11,29277,NaN,Child,10081,Low,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
12,26219,NaN,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
13,26030,NaN,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
14,22741,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
15,21487,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
16,17637,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL
17,50913,NaN,Adult,20039,Medium,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
18,44578,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
19,41129,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
20,40847,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
21,40315,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
22,38504,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
23,37688,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
24,89782,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,Ramsey,M,...,1,eiger,0,NULL,0,NULL,1,eiger,0,NULL
25,78187,S65432/10R,Adult,38455,High,High,149833,Fraser,Ramsey,M,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL
26,77997,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,Ramsey,M,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL

In [82]:
mp_new

,reportid,sno,label,misperid,Initial_Risk_Level,Current_Final_Risk_Level,nominalpersionid,forenames,surname,sex,...,q_21,q_21_explanation,q_22,q_22_explanation,q_23,q_23_explanation,q_24,q_24_explanation,q_25,q_25_explanation
0,45816,NaN,Wanted/Absconder,10081,High,High,39686,Daisy,Paterson,F,...,1,eiger,0,NULL,0,NULL,1,eiger,0,NULL
1,44704,NaN,Child,10081,High,High,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
2,39507,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
3,38629,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
4,37227,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
5,37124,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
6,36424,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
7,36269,S78945/23T,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
8,35862,S78945/23T,Child,10081,High,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
9,34899,S78945/23T,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,1,NULL,1,NULL,0,NULL
10,31772,NaN,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,0,NULL,0,NULL,0,NULL,0,NULL,0,NULL
11,29277,NaN,Child,10081,Low,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
12,26219,NaN,Child,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
13,26030,NaN,Wanted/Absconder,10081,Medium,Medium,39686,Daisy,Paterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
14,22741,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
15,21487,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
16,17637,NaN,Child,10081,Medium,Medium,39686,Daisy,Patterson,F,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL
17,50913,NaN,Adult,20039,Medium,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,0,NULL,0,NULL
18,44578,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
19,41129,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
20,40847,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
21,40315,NaN,Adult,20039,Medium,Medium,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
22,38504,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
23,37688,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,Morrison,F,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
24,89782,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,Ramsey,M,...,1,eiger,0,NULL,0,NULL,1,eiger,0,NULL
25,78187,S65432/10R,Adult,38455,High,High,149833,Fraser,Ramsey,M,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL
26,77997,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,Ramsey,M,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL

In [83]:
df1 = pd.read_csv('/Users/polabedzka/Desktop/masters/camridge/THESIS/missing_people_cases_data_generation/src/ner_systems_comparison/DATA_ORIGINAL/mp.csv')
df1 = df1.astype(str)
df2 = mp_new
df2.columns = df2.columns.str.lower()
df2 = df2.astype(str)

cols_only_in_first = [col for col in df1.columns if col not in df2.columns]

cols_to_keep = df1.columns.tolist()
# Filter second dataframe to only matching columns
df2_filtered = df2[df2.columns.intersection(cols_to_keep)]

# Merge on a common column
result = pd.concat([df1, df2_filtered], axis=0)  # Change 'id' to your key column

result.to_csv('/Users/polabedzka/Desktop/masters/camridge/THESIS/missing_people_cases_data_generation/src/ner_systems_comparison/DATA_ORIGINAL/mp_new_file.csv', index=False)

In [84]:
result

,Unnamed: 0.1,Unnamed: 0,reportid,sno,label,misperid,initial_risk_level,current_final_risk_level,nominalpersionid,forenames,...,q_21,q_21_explanation,q_22,q_22_explanation,q_23,q_23_explanation,q_24,q_24_explanation,q_25,q_25_explanation
0,0,0,1240,nan,Adult,960,High,High,3671,Abigail,...,1,nan,0,nan,0,nan,1,nan,0,nan
1,1,1,2361,nan,Child,960,High,Medium,3671,Abigail,...,1,nan,0,nan,0,nan,0,nan,0,nan
2,2,2,4265,nan,Adult,960,Medium,Medium,3671,Abigail,...,1,nan,0,nan,0,nan,0,nan,0,nan
3,3,3,5463,nan,Adult,960,High,Medium,3671,Abigail,...,1,nan,0,nan,0,nan,1,nan,0,nan
4,4,4,6531,nan,Adult,960,High,High,3671,Abigail,...,1,nan,0,nan,0,nan,1,nan,0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,NaN,NaN,38504,nan,Wanted/Absconder,20039,High,High,78847,Sophia,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
23,NaN,NaN,37688,nan,Wanted/Absconder,20039,High,High,78847,Sophia,...,1,NULL,0,NULL,0,NULL,1,NULL,0,NULL
24,NaN,NaN,89782,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,...,1,eiger,0,NULL,0,NULL,1,eiger,0,NULL
25,NaN,NaN,78187,S65432/10R,Adult,38455,High,High,149833,Fraser,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL
26,NaN,NaN,77997,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,...,0,NULL,0,NULL,0,NULL,1,NULL,0,NULL

In [85]:
df1 = pd.read_csv('/Users/polabedzka/Desktop/masters/camridge/THESIS/missing_people_cases_data_generation/src/ner_systems_comparison/DATA_ORIGINAL/vp.csv')
df2 =  pd.read_csv("/Users/polabedzka/Downloads/RE_ Next steps/vp_new_high_cleansed.csv")
cols_only_in_first = [col for col in df1.columns if col not in df2.columns]

cols_to_keep = df1.columns.tolist()

df2_filtered = df2[df2.columns.intersection(cols_to_keep)]
result = pd.concat([df1, df2_filtered], axis=0)
result.to_csv('/Users/polabedzka/Desktop/masters/camridge/THESIS/missing_people_cases_data_generation/src/ner_systems_comparison/DATA_ORIGINAL/vp_new_file.csv', index=False)

In [86]:
result

,VPD_NOMINALINCIDENTID_PK,VPD_CONSENTNAME,VPD_NOCONSENTREASON,VPD_CREATEDON,VPD_LASTUPDATEDON,VPD_NOMINALSYNOPSIS,VPD_GPCONSENT,VPD_VPTYPEID_FK,VPD_NOMINALID_FK,VPD_INCIDENTID_FK,...,VPD_Self.Harm,VPD_Isolation,VPD_Hearing.Loss,VPD_Alcohol.Consumption,VPD_Learning.Disability,VPD_Communication.Needs,VPD_Mental.Health.Issues,VPD_Drug.Consumption,VPD_Other,VPD_Radicalisation
0,3122036,Iain Ferguson,NaN,01-Apr-2019 01:49:32.000Z[UTC],01-Apr-2019 07:24:16.000Z[UTC],Abigail contacted Child Line stating she felt ...,2,1,983555,9518100,...,1,0,0,0,0,0,1,0,0,0
1,2820803,NaN,NaN,01-Oct-2018 21:32:17.000Z[UTC],02-Oct-2018 10:54:44.000Z[UTC],Reported missing and self harmed,4,1,983555,276482,...,1,0,0,0,0,0,0,0,1,0
2,3869833,NaN,No consent was given for information to be sha...,02-Jul-2020 22:55:59.000Z[UTC],03-Jul-2020 10:32:46.000Z[UTC],Abigail has been having suicidal thoughts and ...,1,1,983555,4992537,...,0,0,0,0,0,0,1,0,0,0
3,2771076,Abigail Ferguson,NaN,02-Sept-2018 04:05:53.000Z[UTC],03-Sept-2018 11:02:51.000Z[UTC],Abigail contacted childline after feeling suic...,2,1,983555,62523,...,1,0,0,0,0,0,1,0,0,0
4,3385427,Abigail Ferguson,NaN,02-Sept-2019 22:27:09.000Z[UTC],03-Sept-2019 07:34:23.000Z[UTC],Abigail called Childline stating she wanted to...,2,1,983555,1790211,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,3943079,NaN,NaN,2020-08-15T01:29:18Z,2020-08-19T12:04:01Z,NaN,100,5,163383,1393487,...,0,0,0,0,0,0,0,0,0,0
122,3753272,Fraser Ramsey,NaN,2020-04-24T22:01:28Z,2020-04-27T10:06:44Z,"Whilst under arrest, Fraser banged his head of...",2,1,163383,1320955,...,0,0,0,0,0,0,1,0,0,0
123,3271612,NaN,NaN,2019-06-25T17:18:57Z,2019-07-01T12:08:25Z,subject of concern,4,1,163383,1140083,...,0,0,0,0,0,0,1,0,0,0
124,2081361,NaN,NaN,2017-07-19T16:29:24Z,2017-10-04T13:14:09Z,NaN,100,5,163383,710935,...,0,0,0,0,0,0,0,0,0,0
125,243236,NaN,NaN,2014-07-15T07:54:56Z,2014-07-15T13:56:14Z,NaN,100,3,163383,83702,...,0,0,0,0,0,0,0,0,0,0

In [87]:
pd.read_csv('/Users/polabedzka/Desktop/masters/camridge/THESIS/missing_people_cases_data_generation/src/ner_systems_comparison/DATA_ORIGINAL/mp_new_file.csv')

,Unnamed: 0.1,Unnamed: 0,reportid,sno,label,misperid,initial_risk_level,current_final_risk_level,nominalpersionid,forenames,...,q_21,q_21_explanation,q_22,q_22_explanation,q_23,q_23_explanation,q_24,q_24_explanation,q_25,q_25_explanation
0,0.0,0.0,1240,NaN,Adult,960,High,High,3671,Abigail,...,1,NaN,0,NaN,0,NaN,1,NaN,0,NaN
1,1.0,1.0,2361,NaN,Child,960,High,Medium,3671,Abigail,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN
2,2.0,2.0,4265,NaN,Adult,960,Medium,Medium,3671,Abigail,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN
3,3.0,3.0,5463,NaN,Adult,960,High,Medium,3671,Abigail,...,1,NaN,0,NaN,0,NaN,1,NaN,0,NaN
4,4.0,4.0,6531,NaN,Adult,960,High,High,3671,Abigail,...,1,NaN,0,NaN,0,NaN,1,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,NaN,NaN,38504,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,...,1,NaN,0,NaN,0,NaN,1,NaN,0,NaN
172,NaN,NaN,37688,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,...,1,NaN,0,NaN,0,NaN,1,NaN,0,NaN
173,NaN,NaN,89782,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,...,1,eiger,0,NaN,0,NaN,1,eiger,0,NaN
174,NaN,NaN,78187,S65432/10R,Adult,38455,High,High,149833,Fraser,...,0,NaN,0,NaN,0,NaN,1,NaN,0,NaN
175,NaN,NaN,77997,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,...,0,NaN,0,NaN,0,NaN,1,NaN,0,NaN